.projectum-dash-tile {
	background: #dedede;
}

.projectum-dash-tile .sapMPanelHdr {
	font-weight: bold;
}

.projectum-contact-grid-item {
	width: 100%;
	height: 40px;
	background: #DEF0F2;
}
 

.spacerTop {
	margin-top: 2rem;
}